.mainHeader {
  background-color: rgba(10, 17, 25, 0.25);
  border: 1px solid rgba(10, 17, 25, 0.6);
  text-shadow: rgba(10, 17, 25, 0.45);

  width: 100%;
  .navigationMain {
    display: flex;
    align-items: center;
    justify-content: center;
    .navigationList {
      display: flex;
      margin: 0;
      padding: 0;
      flex-direction: row;
      .navigationItem {
        padding: 0.25rem;
        display: flex;
        align-items: center;
        .nav-icon {
          width: 45px;
          height: 45px;
          color: rgb(198, 205, 211);

          &:hover {
            color: rgb(245, 245, 245);
          }
        }

        .icon-1 {
          width: 45px;
          height: 45px;
        }

        .icon-2 {
          width: 50px;
          height: 50px;
        }

        .icon-3 {
          width: 45px;
          height: 45px;
        }

        .icon-4 {
          width: 43px;
          height: 43px;
        }
      }
    }
  }
}
