@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Cabin", sans-serif;
  background: url("https://static.completionist.me/images/velvet/bg.png");
  color: #959da6;
}

ul {
  list-style: none;
}

//Import all
@import "./components/Header/header.scss";
@import "./pages/AchievementsHistory/achievementshistory.scss";
@import "./pages/AllAchievements/allAchievements.scss";
@import "./pages/AllGames/allGames.scss";
@import "./pages/Homepage/homepage.scss";
@import "./pages/Milestones/milestones.scss";
