@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Cabin", sans-serif;
  background-color: black;
  background: url("https://static.completionist.me/images/velvet/bg.png");
  color: #959da6;
  scrollbar-width: thin;
}
